# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Scrips.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Archivo\Unity\SpaceInvaders\Assets\Scrips\.idea\.idea.Scrips.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
