# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Game.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Unity\bootcamp\Trabajo 1\Assets\Scripts\Game\.idea\.idea.Game.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
